<!-- <header class="topnav">
    <div class="container h-20">
        <div class="row h-25 align-items-right">
            <div class="btn-group">
                <button type="button" class="btn btn-outline-dark" (click)="openFormModal()">Login</button>
                <button type="button" class="btn btn-outline-dark">Register</button>
            </div>
        </div>
    </div>
</header> -->
<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <ul class="navbar-nav">
            <li><a *ngIf="!isAuthenticated()" class="nav-link" (click)="openLoginModal()">Login</a></li>
            <li><a *ngIf="isAuthenticated()" class="nav-link" (click)="logout()">Logout</a></li>
            <li><a *ngIf="!isAuthenticated()" routerLink="/login" class="nav-link">Register</a></li>

        </ul>
    </nav>
</header>