<header class="masthead">
  <div class="container h-100">
    <div class="row h-100">
      <div class="col-lg-7 my-auto">
        <div class="header-content mx-auto">
          <div class="row">
            <h1 class="mb-5">Glasster-UI</h1>
          </div>
          <div class="row">
            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="TODO" aria-label="TODO"
                aria-describedby="basic-addon2">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button">TODO</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>