
<div class="masthead">
  <header class="topnav">
    <div class="container h-20">
      <div class="row h-25 align-items-right">
        <div class="btn-group">
          <button type="button" class="btn btn-outline-dark" (click)="openFormModal()">Login</button>
          <button type="button" class="btn btn-outline-dark">Register</button>
        </div>
      </div>
    </div>
  </header>
  <div class="container h-100">
    <div class="h-75 row align-items-center">
      <div class="d-flex flex-column">
        <div class="p-2 pl-5">
          <h1 class="mb-5">Glasster-UI</h1>
        </div>
        <div class="p-2 pl-5" style="width: 200%;">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>