/* You can add global styles to this file, and also import other style files */
.masthead {
    position: relative;
    width: 100%;
    padding-top: 150px;
    padding-bottom: 100px;
    color: white;
    background: url("./assets/images/bg-pattern.png"), #7b4397;
    background: url("./assets/images/bg-pattern.png"), linear-gradient(to left, #7b4397, #dc2430);
  }

  .masthead .-content {
    max-width: 500px;
    margin-bottom: 100px;
    text-align: center;
  }
  
  .masthead .-content h1 {
    font-size: 30px;
  }
  
  .masthead .device-container {
    max-width: 325px;
    margin-right: auto;
    margin-left: auto;
  }
  
  .masthead .device-container .screen img {
    border-radius: 3px;
  }
  
  @media (min-width: 992px) {
    .masthead {
      height: 100vh;
      min-height: 775px;
      padding-top: 0;
      padding-bottom: 0;
    }
    .masthead .-content {
      margin-bottom: 0;
      text-align: left;
    }
    .masthead .-content h1 {
      font-size: 50px;
    }
    .masthead .device-container {
      max-width: 325px;
    }
  }

/* bootstrap override */
.btn-outline-secondary,
.btn-outline-secondary[disabled] {
    background-color: white;
    color: gray;
}

.btn-outline-secondary:hover,
.btn-outline-secondary:focus,
.btn-outline-secondary:active {
    color: white;
    border-color: #fdcc52;
    background-color: #fdcc52;
}

.btn-outline-secondary[disabled]:hover,
.btn-outline-secondary[disabled]:focus,
.btn-outline-secondary[disabled]:active {
    color: gray;
    border-color: white;
    background-color: white;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
